#eqlib-desktop-root {
  width: 100%;
  margin: 20px auto;
  max-width: 1200px;
}

/* Focus styles for inputs */
input:focus, button:focus {
  outline: none;
}

/* More readable text */
.font-mono {
  font-family: 'Courier New', monospace;
}